# -----------------------------------------------
# --- Docker Compose backup config --------------
# -----------------------------------------------

#BACKUP_SKIP_VOLUMES=

# -----------------------------------------------
# --- LLDAP Environment Variables ----------
# -----------------------------------------------

LDAP_PORT=389
HTTP_PORT_DOMAIN_00=17170
HTTP_PORT_DOMAIN_01=17171
