# nextcloud config
NEXTCLOUD_ADMIN_USER=<ADMIN_USER>
NEXTCLOUD_MYSQL_DB=<MYSQL_DB>
NEXTCLOUD_MYSQL_USER=<MYSQL_USER>
NEXTCLOUD_UPLOAD_MAX_SIZE=1G
NEXTCLOUD_APC_SHM_SIZE=128M
NEXTCLOUD_OPCACHE_MEM_SIZE=128
NEXTCLOUD_CRON_PERIOD=15m
NEXTCLOUD_REDIS_HOST_PORT=6379
NEXTCLOUD_NGINX_PORT=8081
NEXTCLOUD_NGINX_STS_MAX_AGE=15768000
NEXTCLOUD_DEFAULT_PHONE_REGION=<DEFAULT_PHONE_REGION>

# S3 config
OBJECTSTORE_S3_HOST=<S3_HOST>
OBJECTSTORE_S3_PORT=443
OBJECTSTORE_S3_SSL=true
# OBJECTSTORE_S3_LEGACYAUTH=false
# OBJECTSTORE_S3_REGION=<S3_REGION>
OBJECTSTORE_S3_BUCKET=<S3_BUCKET>
# OBJECTSTORE_S3_USEPATH_STYLE=false
# OBJECTSTORE_S3_OBJECT_PREFIX='urn:oid:'
OBJECTSTORE_S3_AUTOCREATE=true

# SMTP config
# SMTP_HOST=
# MAIL_FROM_ADDRESS=
# MAIL_DOMAIN=
# SMTP_PORT=
# SMTP_SECURE=
# SMTP_NAME=
# SMTP_PASSWORD=
# SMTP_PASSWORD_FILE=
# SMTP_AUTHTYPE=

# Docker Compose backup config
BACKUP_SKIP_VOLUMES=("/var/lib/docker/volumes/nextcloud_mysql/_data" "/var/lib/docker/volumes/nextcloud_redis/_data")
